
<app-to-do-list appBod></app-to-do-list>






























<!--<p appStyle="red" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">-->
<!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, quia!-->
<!--</p>-->

<!--<p appStyle="bisque" [dStyles]="{border: '3px solid black', borderRadius: '15px'}">-->
<!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, quia!-->
<!--</p>-->

<!--<div class="wrap">-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci animi assumenda id porro quos reiciendis saepe similique sint veniam.</p>-->
<!--</div>-->

<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;  {{ float | mult}}&ndash;&gt;-->
<!--&lt;!&ndash;  {{ float | currency}}&ndash;&gt;-->
<!--&lt;!&ndash;  {{ float | percent}}&ndash;&gt;-->

<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--<p>{{ 10 | mult:2}}</p>-->
<!--<p>{{ 10 | mult:3}}</p>-->
<!--<p>{{ 10 | mult:5}}</p>-->
<!--<p>{{ 10 | mult:8}}</p>-->
<!--<p>{{ 10 | mult:13}}</p>-->

<!--<input type="text" [(ngModel)]="search"/>-->
<!--<button class="bt" (click)="searchField = 'title'">Title</button>-->
<!--<button class="bt" (click)="searchField = 'text'">Text</button>-->
<!--<hr/>-->
<!--<button class="bt" (click)="addPost()">Add new post</button>-->



<!--<div-->
<!--  *ngFor="let p of posts | filter:search:searchField"-->
<!--  class="card">-->
<!--  <h2>{{p.title}}</h2>-->
<!--  <p>{{p.text}}</p>-->

<!--</div>-->


<!--&lt;!&ndash;<pre>&ndash;&gt;-->
<!--&lt;!&ndash;    {{ obj | json}}&ndash;&gt;-->
<!--&lt;!&ndash;</pre>&ndash;&gt;-->


<!--<div>-->
<!--  <h1>Angular services</h1>-->
<!--  <div class="card">-->
<!--    <h2>-->
<!--      App Counter: {{appCounterService.counter}}-->
<!--      <button class="btn" (click)="appCounterService.increase()">+</button>-->
<!--      <button class="btn" (click)="appCounterService.decrease()">-</button>-->
<!--    </h2>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <h2>-->
<!--      Local Counter: {{localCounterService.counter}}-->
<!--      <button class="btn" (click)="localCounterService.increase()">+</button>-->
<!--      <button class="btn" (click)="localCounterService.decrease()">-</button>-->
<!--    </h2>-->
<!--  </div>-->
<!--  <hr>-->
<!--  <app-counter></app-counter>-->
<!--</div>-->
