<div class="card" style="width: 18rem;" appStyle>
  <div class="card-body">
    <form [formGroup]="todoForm" (ngSubmit)="ngOnInit()">
      <p class="card-text">New to do</p>
      <label>
        <input formControlName="title" type="text"/>
      </label>
      <div *ngIf="todoForm.get('title').invalid && todoForm.get('title').touched"
        class="validation"
      >
        <small *ngIf="todoForm.get('title').errors.required">
          Введите текст
        </small>
        <small *ngIf="todoForm.get('title').errors.minlength">
          Текст должен содержать как минимум {{todoForm.get('title').errors.minlength.requiredLength}} символов.
        </small>
      </div>
      <label>
        <input type="checkbox" formControlName="completed" state="false"/>
        Выполнено?
      </label>

      <button class="card" (click)="onClick()" type="submit" [disabled]="todoForm.invalid">Add to do</button>
    </form>
  </div>
</div>


